<!-- main content for displaying database-->
 <main class ="container">

    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>
            <a href="/workouts/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i>Add a Workout
            </a>
            <table class="table table-border table-striped table-hover">
                <!--Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Exercise</th>
                    <th class="text-center col-4">Muscle Group</th>
                    <th class="text-center col-1" >Sets</th>
                    <th class="text-center col-1">Reps</th>
                    <th class="text-center col-2">Weight</th>
                </tr>
                <!-- for/while loop-->
                <% for(let count=0; count<WorkoutList.length;count++) { %>
                <tr class="d-flex">
                    <td class ="text-center col-2"><%= WorkoutList[count].exercise %></td>
                    <td class ="text-center col-4"><%= WorkoutList[count].muscleGroup %></td>
                    <td class ="text-center col-1"><%= WorkoutList[count].sets %></td>
                    <td class ="text-center col-1"><%= WorkoutList[count].reps %></td>
                    <td class ="text-center col-2"><%= WorkoutList[count].weight %></td>
                    <td class ="text-center col-1">
                    <a href="/workouts/edit/<%=WorkoutList[count]._id%>"
                        class="btn btn-primary btn=sm">
                        <i class="fas fa-pencil-alt"></i>Edit
                    </a></td>
                    <td class ="text-center col-1">
                    <a href="/workouts/delete/<%=WorkoutList[count]._id%>"
                        class="btn btn-danger btn=sm">
                        <i class="fas fa-trash-alt"></i>Delete
                    </a></td>
                </tr>
                <% } %>
            </table>
            
        </div>
 </main>